{% extends "template.html" %}

{% block title %}
<title>Информация о нас</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Огромные проекты</h1>
    <p>Благодаря слаженному сообществу, мы смогли уничтожить морской монумент менее чем за 15 минут, раскопать 200
        тысяч блоков песка за 5 часов, а также построить спавн за 4 дня. И всё это в первый месяц сезона.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G1IbRujko-A" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture" allowfullscreen></iframe>
    <h2>Разнообразные ивенты</h2>
    <p>Администрация и игроки сервера часто проводят интересные ивенты, например: Шалкер-битва, Что? Где? Когда?, Ралли.
    Также присутствуют и ивентовые дни — дни, когда весь день проходят ивенты на самом сервере, или на отдельном сервере.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G1IbRujko-A" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture" allowfullscreen></iframe>
    <h3>Сплочённое сообщество</h3>
    <p>Игроки сервера помогают друг другу, объединяются в команды, строят совместно постройки и фермы, общаются каждый
        день в нашем Discord сервере и получают невероятный опыт и удовольствие от игры на сервере.</p>
</div>
{% endblock %}

